@tailwind base;
@tailwind components;
@tailwind utilities;


.fc-theme-standard .fc-scrollgrid, .fc-theme-standard td {
    border: none;
}

.fc-daygrid-day-frame {
    display: flex;
}

.fc-daygrid-day-top {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.fc-daygrid-day-events {
    display: none;
}

.fc .fc-daygrid-day-number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color;
    transition-duration: 200ms;
}

.fc .fc-daygrid-day-number:hover {
    background-color: black;
    color: white;
}

.fc-daygrid-day-number {
    background-color: transparent;
    color: black;
}

.fc .fc-daygrid-day.fc-day-today {
    background-color: transparent;
}

table .fc-scrollgrid-sync-table tr  {
    height: 10px;
}

.fc .fc-button-primary, .fc .fc-button-primary:hover, .fc .fc-button-primary:not(:disabled):active, .fc .fc-button-primary:focus, .fc .fc-button-primary:focus {
    border: none;
    background-color: transparent;
    color: black;
    box-shadow: none;
    outline: none;
}

.fc .fc-button-primary:focus {
    box-shadow: none;
}
.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
    box-shadow: none;
}










